html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
            radial-gradient(circle, transparent 50%, rgba(0, 0, 0, .6)),
            url('../images/background.png') #356300;
}

.board {
    border: 10px solid #181818;
    border-spacing: 0;
    border-radius: 4px;
}

.board td {
    background-color: gray;
    width: 75px;
    height: 75px;
}

.board tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
}

.board tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}

.board__piece {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border-radius: 50%;
}

.board__piece:hover {
    cursor: all-scroll;
    /*outline: 2px solid red;*/
}

.board__piece--black {
    background: radial-gradient(#864a2c 3%, #491b16 22%, #864a2c 27%, #491b16 40%, #864a2c 45%, #491b16 57%, #864a2c 61%, #491b16 75%, #864a2c 100%);
}

.board__piece--white {
    background: radial-gradient(#f0d5a0 3%, #e5a949 22%, #f0d5a0 27%, #e5a949 40%, #f0d5a0 45%, #e5a949 57%, #f0d5a0 61%, #e5a949 75%, #f0d5a0 100%);
}