<table class="board">
    {% for row in board %}
        {% set outer_loop = loop %}
        <tr>
            {% for piece in row %}
              <td class="board__square" data-x="{{ loop.index0 }}" data-y="{{ outer_loop.index0 }}">
                  {% if piece %}
                      <div class="board__piece board__piece--{{ piece.color }} {% if piece.king %}board__piece--king{% endif %}"></div>
                  {% endif %}
              </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
