{% extends 'layout.html' %}

{% block title %}Checkers{% endblock %}
{% block body %}
    <table class="board">
        <tr>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--dark"></div>
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
            <td>
                <div class="board__piece board__piece--light"></div>
            </td>
            <td></td>
        </tr>
    </table>
{% endblock %}
