html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        radial-gradient(circle, transparent 50%, rgba(0, 0, 0, .6)),
        url('../images/background.png') #356300;
}

.board {
    border: 10px solid #181818;
    border-spacing: 0;
    border-radius: 4px;
}

.board td {
    background-color: #181818;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.board tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
    cursor: not-allowed;
}

.board tr:nth-child(even) td:nth-child(even) {
    background-color: white;
    cursor: not-allowed;
}

.board__piece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    margin: 0 auto;
    border-radius: 50%;
}

.board__piece:hover {
    cursor: pointer;
}

.board__piece--dark {
    color: #3d1712;
    text-shadow: 0 0 2px #864a2c;
    background: radial-gradient(#864a2c 3%, #491b16 40%, #864a2c 45%, #491b16 57%, #864a2c 61%, #491b16 75%, #864a2c 100%);
}

.board__piece--light {
    color: #d9a045;
    text-shadow: 0 0 2px #f0d5a0;
    background: radial-gradient(#f0d5a0 3%, #e5a949 40%, #f0d5a0 45%, #e5a949 57%, #f0d5a0 61%, #e5a949 75%, #f0d5a0 100%);
}

.board__piece--king::before {
    content: '★';
    font-size: 36px;
}
